[submodule "bundle/vundle"]
	path = bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "colors/iterm2-getafe"]
	path = colors/iterm2-getafe
	url = git://github.com/larssmit/iterm2-getafe.git
